include:
  - docker-compose.yml
  - prometheus/**/*
  - grafana/**/*
  - data/**/*
  - helm/**/*
  - .gitignore
  - README.md

exclude:
  - helm/charts/**/templates
  - **/.git
  - **/node_modules
  - **/__pycache__
  - **/*.pyc 